<div class="home_contact">
  <h1> Contact</h1>
  <%= simple_form_for @contact do |f| %>
            <%= f.input :name, placeholder: "Nom", class:"feedback-input" %>
            <%= f.input :email, placeholder: "Email", class:"feedback-input"  %>
            <%= f.input :message, rows: 8, cols: 40, placeholder: "Message", class:"feedback-input"  %>
            <%= f.submit "Envoyer", class: "btn btn-ghost" %>
  <% end %>
</div>
