<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <%= link_to "Thaïs Paris", root_path, class:"nom" %>
      </div>
  </div>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="group-item">
        <li><%= link_to "Profil", root_path, class:"item" %></li>
        <li><%= link_to "Compétences", competences_path, class:"item" %></li>
        <li><%= link_to "Formation", formations_path, class:"item" %></li>
        <li><%= link_to "Experiences", experiences_path, class:"item" %></li>
        <%# <li><%= link_to "Contact", new_contact_path, class:"item" %></li> %>
      </div>
    </div>
  </div>
</nav>
