<div id="wrapper">
  <div class="viewport">
    <div class="cube">
        <div class="cube__face cube__face--front"><%= render "shared/profil", user: @user %></div>
        <div class="cube__face cube__face--back" id="moi"></div>
        <div class="cube__face cube__face--right"><%= render "shared/competence", competence: @competence %></div>
        <div class="cube__face cube__face--left"><%= render "shared/formation", formation: @formation %></div>
        <div class="cube__face cube__face--top"><%= render "shared/experience", experience: @experience %></div>
        <div class="cube__face cube__face--bottom"><%= render "shared/contact", contact: @contact  %></div>
    </div>
  </div>
</div>
