<%= simple_form_for @formation do |f| %>

  <div class="form-inputs">
    <%= f.input :diplome, placeholder: "Diplome" %>
    <%= f.input :date, placeholder: "Date" %>
    <%= f.input :ecole, placeholder: "Ecole" %>
  </div>

  <div class="form-actions w-100 d-flex justify-content-end">
    <%= f.submit "Enregistrer ma formation", class: "btn btn-ghost" %>
  </div>

<% end %>
