<div class="titre-block">
  <h1> Compétences</h1>
  <% if user_signed_in? %>
    <%= link_to "Ajouter", new_competence_path, class: "btn btn-ghost" %>
  <% end %>
</div>

<div class="block-competences">
  <% @competences.each do |competence| %>
    <div class="competence_content">
      <p><%= competence.titre%></p>
      <p><%= competence.texte%></p>
      <% if user_signed_in? %>
        <%= link_to "Modifier", edit_competence_path(competence), class: "btn btn-ghost" %>
        <%= link_to "Supprimer", competence_path(competence), method: :delete, data: { confirm: "Attention vous supprimez une compétence. Merci de confirmer." }, class: 'btn btn-ghost' %>
      <% end %>
    </div>
  <% end %>
</div>
